In [15]:
import json
import requests
import pandas as pd
from collections import defaultdict
from web3 import Web3
import datetime

In [16]:
GRAPHQL_URL = "http://std-price.d3n.xyz//v1/graphql"
INFURA_URL = "https://mainnet.infura.io/v3/3daadad760874555bffbdd07a7d3fd7a"

FEEDER_ADDRESS = "0xecf9ffa7F51e1194f89C25ad8C484f6BFD04E1Ac"

STDREFRENCE_BASIC_CONTRACT_ADDRESS = "0xfc7A4c74beD0D761B9dC648F8730738D1449333a"
STDREFERECE_BASIC_FILE = open("abi/StdReferenceBasic.json")
STDREFERENCE__BASIC_ABI = json.load(STDREFERECE_BASIC_FILE)

CURRENT_TIMESTAMP = datetime.datetime.now().timestamp()
ONE_DAY = (24*60*70)
SEVEN_DAY = CURRENT_TIMESTAMP - (ONE_DAY * 7)
THIRTY_DAY = CURRENT_TIMESTAMP - (ONE_DAY * 30)
TIME_LIST = [{"prefix":"7_day","count":7,"timestamp":SEVEN_DAY},{"prefix":"30_day","count":30,"timestamp":THIRTY_DAY}]

In [17]:
web3 = Web3(Web3.HTTPProvider(INFURA_URL))

In [18]:
def get_timestamp(days):
    current_timestamp = datetime.datetime.now().timestamp()
    min_timestamp = current_timestamp - (days * 24 * 60 * 60)
    timestamp = datetime.datetime.fromtimestamp(min_timestamp)
    time = timestamp.strftime('%Y-%m-%dT%H:%M:%S.000000')
    return time

## Feeder Account Balance

In [5]:
feeder_balance = round(web3.eth.get_balance(FEEDER_ADDRESS)/1e18, 2)
print(f"Current Feeder Balance: {feeder_balance} ETH")

Current Feeder Balance: 57.79 ETH

## Symbols Supported

In [108]:
symbol_detail_payload = "{\"query\":\"query MyQuery {\\n  mainnet_target_eth_mainnet_symbol_detail{\\n    symbol\\n    interval\\n    max_changed\\n  }\\n}\\n\",\"operationName\":\"MyQuery\"}"
symbol_detail_response = requests.request("POST",GRAPHQL_URL,data=symbol_detail_payload).json()
symbol_detail = symbol_detail_response["data"]["mainnet_target_eth_mainnet_symbol_detail"]
# list of supported symbols
symbols_supported = [details["symbol"] for details in symbol_detail] 
# dataframe of symbol details
symbol_details_df = pd.DataFrame.from_dict(symbol_detail)
symbol_details_df.head()

  symbol  interval max_changed
0   BUSD      3400         100
1   WBTC      3400         100
2   STRK      3400         100
3    DAI      3400         0.5
4   USDC      3400         0.5

## 30-day/7-day price update count

In [109]:
update_count_payload = '''{
    "query":\"query MyQuery {
        mainnet_target_eth_mainnet_relay_data_aggregate(where: {_and: {symbol: {_eq: \\\"%s\\\"}, resolved_time: {_gte: %d}}}){
            aggregate{
                count
            }
        }
    }",
    "operationName":"MyQuery"
}
'''
update_list = list()
for symbol in symbols_supported:
    dc = defaultdict(str)
    for TIME in TIME_LIST:
        prefix = TIME["prefix"]
        timestamp = TIME["timestamp"]
        count = TIME["count"]
        update_count_response = requests.request("POST",GRAPHQL_URL,data=update_count_payload%(symbol,timestamp)).json()
        update_count = update_count_response["data"]["mainnet_target_eth_mainnet_relay_data_aggregate"]["aggregate"]["count"]
        dc["symbol"] = symbol
        index = symbol_details_df.index[symbol_details_df["symbol"]==symbol].tolist()[0]
        dc["expected_update_count_per_day"] = ONE_DAY / symbol_details_df["interval"][index]
        dc[f"{prefix}_update_count"] = update_count
        dc[f"{prefix}_update_count_per_day"] = update_count / count
    update_list.append(dc)
update_count_df = pd.DataFrame.from_dict(update_list)
update_count_df.head()

,symbol,expected_update_count_per_day,7_day_update_count,7_day_update_count_per_day,30_day_update_count,30_day_update_count_per_day
0,BUSD,29.647059,197,28.142857,776,25.866667
1,WBTC,29.647059,196,28.000000,805,26.833333
2,STRK,29.647059,197,28.142857,699,23.300000
3,DAI,29.647059,196,28.000000,779,25.966667
4,USDC,29.647059,197,28.142857,796,26.533333

## 30-day/7-day daily update count

In [115]:
update_count_payload = '''
{
    "query":"query MyQuery {
                mainnet_target_eth_mainnet_relay_tx_aggregate(where:{created_at:{_gte:\\\"%s\\\"}}){
                    aggregate{
                        count
                    }
                }
            }",
            "operationName":"MyQuery"
}'''
tx_count_list = list()
for TIME in TIME_LIST:
    dc = defaultdict(str)
    prefix = TIME["prefix"]
    timestamp = TIME["timestamp"]
    count = TIME["count"]
    update_count_response = requests.request("POST",GRAPHQL_URL,data=update_count_payload%(get_timestamp(count))).json()
    update_count = update_count_response["data"]["mainnet_target_eth_mainnet_relay_tx_aggregate"]["aggregate"]["count"]
    dc["interval"] = prefix
    dc['total_tx_count'] = update_count
    dc['avg_tx_per_day'] = update_count/count
    tx_count_list.append(dc)

tx_stats_df = pd.DataFrame.from_dict(tx_count_list)
tx_stats_df.head()

  interval  total_tx_count  avg_tx_per_day
0    7_day            1540           220.0
1   30_day            4602           153.4

In [22]:
tx_list_payload = '''
{
    "query":"query MyQuery {
                mainnet_target_eth_mainnet_relay_tx(where:{created_at:{_gte:\\\"%s\\\"}}){
                    tx_hash
                }
            }",
            "operationName":"MyQuery"
}'''
def get_tx_info(tx_details):
    stdreferece_basic_contract = web3.eth.contract(address=STDREFRENCE_BASIC_CONTRACT_ADDRESS,abi=STDREFERENCE__BASIC_ABI)
    decoded_tx_input = stdreferece_basic_contract.decode_function_input(tx_details.input)
    return decoded_tx_input
tx_list = list()
for TIME in TIME_LIST:
    time_dc = defaultdict(str)
    prefix = TIME["prefix"]
    timestamp = TIME["timestamp"]
    count = TIME["count"]
    tx_list_response = requests.request("POST",GRAPHQL_URL,data=tx_list_payload%(get_timestamp(count))).json()
    tx_list = update_count_response['data']['mainnet_target_eth_mainnet_relay_tx']
    for tx in tx_list[:1]:
        tx_dc = defaultdict(str)
        tx_details = web3.eth.get_transaction(tx["tx_hash"])
        tx_info = get_tx_info(tx_details)
        
        print(tx_info)
        print(tx_details)

(<Function relay(string[],uint64[],uint64[],uint64[])>, {'_symbols': ['BUSD', 'WBTC'], '_rates': [1000559500, 60621000000000], '_resolveTimes': [1618055371, 1618055284], '_requestIds': [3433860, 3433808]})
AttributeDict({'blockHash': HexBytes('0xf063327efb8bf65211496d9648bbc0cb1cfd7fd17b6867be709bf9466c18603d'), 'blockNumber': 12211982, 'from': '0xecf9ffa7F51e1194f89C25ad8C484f6BFD04E1Ac', 'gas': 200000, 'gasPrice': 126000000000, 'hash': HexBytes('0xb115e9b921cd6498f7aba7f6c2acedd16bd702206d56e0238d55320ef451a19b'), 'input': '0x418d78d40000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000016000000000000000000000000000000000000000000000000000000000000001c0000000000000000000000000000000000000000000000000000000000000022000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000044255534400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000457425443000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000003ba3538c000000000000000000000000000000000000000000000000000037226d2bc200000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000607190cb0000000000000000000000000000000000000000000000000000000060719074000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000003465840000000000000000000000000000000000000000000000000000000000346550', 'nonce': 2507, 'r': HexBytes('0x63c492a23330b389cff74d83e438fabc9e9740d2920a8b0edc3e0087c409c145'), 's': HexBytes('0x7e0fa23405a0b302f7cd5f0be0a04eb647e4795452eae9cbdd0e13466b5d62b6'), 'to': '0xfc7A4c74beD0D761B9dC648F8730738D1449333a', 'transactionIndex': 26, 'type': '0x0', 'v': 38, 'value': 0})
(<Function relay(string[],uint64[],uint64[],uint64[])>, {'_symbols': ['BUSD', 'WBTC'], '_rates': [1000559500, 60621000000000], '_resolveTimes': [1618055371, 1618055284], '_requestIds': [3433860, 3433808]})
AttributeDict({'blockHash': HexBytes('0xf063327efb8bf65211496d9648bbc0cb1cfd7fd17b6867be709bf9466c18603d'), 'blockNumber': 12211982, 'from': '0xecf9ffa7F51e1194f89C25ad8C484f6BFD04E1Ac', 'gas': 200000, 'gasPrice': 126000000000, 'hash': HexBytes('0xb115e9b921cd6498f7aba7f6c2acedd16bd702206d56e0238d55320ef451a19b'), 'input': '0x418d78d40000000000000000000000000000000000000000000000000000000000000080000000000000000000000000000000000000000000000000000000000000016000000000000000000000000000000000000000000000000000000000000001c0000000000000000000000000000000000000000000000000000000000000022000000000000000000000000000000000000000000000000000000000000000020000000000000000000000000000000000000000000000000000000000000040000000000000000000000000000000000000000000000000000000000000008000000000000000000000000000000000000000000000000000000000000000044255534400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000457425443000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000003ba3538c000000000000000000000000000000000000000000000000000037226d2bc200000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000607190cb0000000000000000000000000000000000000000000000000000000060719074000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000003465840000000000000000000000000000000000000000000000000000000000346550', 'nonce': 2507, 'r': HexBytes('0x63c492a23330b389cff74d83e438fabc9e9740d2920a8b0edc3e0087c409c145'), 's': HexBytes('0x7e0fa23405a0b302f7cd5f0be0a04eb647e4795452eae9cbdd0e13466b5d62b6'), 'to': '0xfc7A4c74beD0D761B9dC648F8730738D1449333a', 'transactionIndex': 26, 'type': '0x0', 'v': 38, 'value': 0})